/* Page container */
.form-container {
  width: 100%;
  min-height: 100vh;
  background: #f2f3f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

/* Title */
.form-title {
  font-size: 38px;
  font-weight: bold;
  color: #333;
  margin-bottom: 25px;
}

/* Form box */
.form-box {
  width: 500px;
  background: white;
  padding: 25px 35px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}

/* Each form input group */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* Labels */
.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #444;
}

/* Inputs & Textareas */
.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.2s ease;
}

.form-group textarea {
  resize: vertical;
  min-height: 70px;
}

/* Focus effect */
.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

/* Submit Button */
.submit-btn {
  width: 100%;
  padding: 12px;
  background: #a62cc7;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background: #6d367e;
  color:white;
}