.card{
    height: 50;
    width: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box{
   
    border: 2px black solid;
    text-align: center;
    padding: 20px;

}
button:hover{
    background-color: blue;
    color: brown;
}
button{
    background-color: green;
    padding: 5px;
    width: 100px;
}
